$primary: #fe4b26;
$primary-highlighted: #f02a01;

$dark-color: #222222;

$code-color: #ffffff;
$code-background-color: #e8eef2;
$code-accesory-background-color: #D8DEE2;

$output-color: #ffffff;
$output-background-color: #6b6d76;
$output-accesory-background-color: #5B5D66;

$article-color: #000000;
$article-background-color: #eeeeee;

$muted-color: #777777;
