<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>SWIFT QUEST</title>
    <link rel="icon" type="image/png" href="img/icon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/font/css/font-awesome.min.css" type="text/css">

    <script src="/lib/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/lib/codemirror/lib/codemirror.css">
    <script src="/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="/lib/codemirror/mode/swift/swift.js"></script>
    <script src="/lib/codemirror/addon/edit/closebrackets.js"></script>
    <script src="/lib/codemirror/addon/edit/matchbrackets.js"></script>

    <link rel="stylesheet" href="/css/slide.css" type="text/css">
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="/js/diff.min.js"></script>
    <script src="/js/slide.js"></script>
  </head>
  <body>
    <article id="sq-slide">
      <div class="sq-upper">
        <div class="sq-left"></div>
        <div class="sq-right"></div>
      </div>
      <div class="sq-lower">
        <div class="sq-left">
          <button><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
        <div class="sq-center"></div>
        <div class="sq-right">
          <button><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
      </div>
      <div id="sq-content">
        {{ content }}
      </div>
    </article>
    {% include analytics.html %}
  </body>
</html>