html {
  height: 100%;
}

body {
  background-color: rgb(254, 75, 38);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 24px;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
}

#sq-page {
  display: table;
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  height: 100%;
}

#sq-image-row {
  display: table-row;
}

#sq-image-row > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#sq-image-row > div > img {
  width: 70%;
  max-width: 480px;
}

#sq-text-row {
  display: table-row;
}

#sq-text-row > div {
  display: table-cell;
  text-align: left;
}

#sq-button-row {
  display: table-row;
}

#sq-button-row > div {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  height: 95px;
}

#sq-button {
  color: rgb(254, 75, 38);
  border: solid 1px #ffffff;
  background-color: #ffffff;
}

@media (max-width: 540px) {
  body {
    font-size: 12px;
  }

  #sq-text-row > div {
    height: 85px;
  }

  #sq-button-row > div {
    height: 48px;
  }

  #sq-button {
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 10px;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  body {
    font-size: 18px;
  }

  #sq-text-row > div {
    height: 128px;
  }

  #sq-button-row > div {
    height: 72px;
  }

  #sq-button {
    border-radius: 30px;
    font-size: 18px;
    padding: 7px 15px;
  }
}

@media (min-width: 720px) {
  body {
    font-size: 24px;
  }

  #sq-text-row > div {
    height: 170px;
  }

  #sq-button-row > div {
    height: 95px;
  }

  #sq-button {
    border-radius: 40px;
    font-size: 24px;
    padding: 10px 20px;
  }
}
